@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4">Mafia 2.0</h1>
    <p>Welcome to Mafia order system "Mafia 2.0"! Please login to continue.</p>
</div>
