@using PAM2Zaliczenie.BLL
@model PAM2Zaliczenie.Models.Tasks


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //todo: formatka obsługi zlecenia
    //@Model.Employee.Name
}

<h1>Create</h1>

<h4>Tasks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskTypeId" class="control-label"></label>
                <select id="TaskSelector" asp-for="TaskTypeId" onchange="ShowPaymentInfo()" class="form-control" asp-items="ViewBag.TaskTypeId"></select>
            </div>
            @foreach (var el in (List<ObjectHelper>)ViewData["TaskInfo"])
            {
                <label class="testowo" hidden id="@el.TaskGuid" >@el.TaskCostInfo</label>
            }
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function onLoadFunctions() {
        ShowPaymentInfo();
    }
    window.onload = onLoadFunctions;

    function ShowPaymentInfo() {
         
        var selected = document.getElementById("TaskSelector").value;
        selected = selected.toUpperCase()      
        var labels = document.getElementsByClassName("testowo");
        var i = labels.length;

        while (i--) {
            labels[i].hidden = "hidden";
            if (selected == labels[i].id) {
                labels[i].hidden = "";
            }
        }



    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
