a.navbar-brand {
    color: white;
}

.PAM-logo {
    color: white;
    font-size: x-large;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.testowo{
    color:red;
    align-content:center;
        
}

a {
    color: #e5e5e5
}

.btn-primary {
    color: #fff;
    background-color: #d6d2d2;
    border-color: #1861ac
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac
}

label {
    color: white;
    font-weight: 500
}

thead {
    color: white;
    font-weight: 100
}

html {
    font-size: 14px
}

@media (min-width:768px) {
    html {
        font-size: 16px
    }
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.05)
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit
}

h1 {
    color: white;
    font-weight: 700;
    font-size: x-large
}

h4 {
    color: white;
    font-weight: 500;
    font-size: x-large
}

td {
    color: white;
    font-size: larger
}

.bg-image {
    background-image: url("../css/d.jpg");
    filter: blur(9px);
    -webkit-filter: blur(9px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh
}

span {
    color: red;
    font-size: small
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    white-space: nowrap;
    z-index: 3;
    line-height: 60px
}

.app-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden
}

main {
    position: relative
}

.main-background {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh
}
